<h1><%= @entry["title"] %>

<ul>
  <li><%= @entry["description"] %></li>
  <li><%= @entry["posted_on"] %></li>
  <li><%= @entry["place_id"] %></li>
</ul>


<p><a href="/places/<%= @entry["place_id"] %>">Back to <%= @place["name"] %> </a></p>
