<%= @place["name"]%>


<ul>
  <% for entry in @entries %>
    <li>
      <a href="/entries/<%= entry["id"] %>?place_id=<%=@place["id"]%>">
        <%= entry["title"] %>, <%= entry["posted_on"] %>
      </a>
    </li>
  <% end %>
</ul>


<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>